.footer {
  display: flex;
  height: 10vh; }
  .footer .left, .footer .right {
    flex: 1;
    display: flex;
    align-items: center; }
  .footer .left > *, .footer .right > * {
    margin: 0 1rem; }
  .footer .left {
    margin-left: 1rem; }
  .footer .right {
    margin-right: 1rem;
    justify-content: flex-end; }

.stacked-text p {
  margin: 0;
  font-size: 1rem; }

.footer.squeezed.Left {
  margin-left: 8rem; }

.footer.squeezed.Right {
  margin-right: 8rem; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%; }

.content {
  margin-bottom: 6rem; }
