.nav {
  display: flex;
  flex-direction: row;
  height: 4rem;
  width: 100%;

  ul {
    height: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin: 0 0.5rem;

      a {
        display: flex;
        flex: 1;
        padding: 0 0.5rem;
        justify-content: center;
        align-items: center;
      }

      ul.hover-menu {
        top: 0;
        height: auto;
        position: absolute;
        display: none;
        flex-direction: column;
        list-style: none;
        margin: 4rem 0 0;
        padding: 0;

        li {
          margin: 0;
          display: flex;

          a {
            padding: 0.5rem;
          }
        }
      }
    }
  }

  .hover-container:hover {
    ul {
      display: flex;
    }
  }

  .left, .right {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .right {
    justify-content: flex-end;
  }
}
